{{- $email := promptString "email" -}}
{{- $name := promptString "name" -}}
{{- $keyID := promptString "keyID" -}}
{{- $prettyKeyID := promptString "prettyKeyID" -}}
[sourceVCS]
	autoCommit  = true
	autoPush    = true

[data]
	email       = "{{ $email }}"
	name        = "{{ $name }}"
	keyID       = "{{ $keyID }}"
	prettyKeyID = "{{ $prettyKeyID }}"
