{{- $email := promptString "Email" -}}
{{- $name := promptString "Name" -}}
{{- $keyID := promptString "KeyID" -}}
{{- $prettyKeyID := promptString "Pretty KeyID" -}}
{{- $interface := promptString "Network Interface"}
[sourceVCS]
#	autoCommit  = true
#	autoPush    = true

[data]
	email       = "{{ $email }}"
	name        = "{{ $name }}"
	keyID       = "{{ $keyID }}"
	prettyKeyID = "{{ $prettyKeyID }}"
	interface   = "{{ $interface }}"
