[user]
	name        = {{ .name }}
	email       = {{ .email }}
	signingkey  = {{ .keyid }}

[credential]
	helper      = cache --timeout=604800

[core]
	editor      = vim
	autocrlf    = input
	whitespace  = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol

[commit]
	template    = ~/.gitmessage
	gpgsign     = true

[help]
	autocorrect = 3

[merge]
	tool        = vimdiff

[diff]
	external	= vimdiff
