Mit freundlichen Grüßen

{{ .name }}

Emails werden mit dem GPG-Key {{ .prettyKeyID }}
signiert. Zur gesicherten Kommunikation ist das verschlüsseln von Mails mittels
des gleichen Schlüssels möglich.
                       _
ASCII ribbon campaign ( )
 - against HTML email  X
             & vCards / \
