[theme]
name = "slick"
#[theme.overrides]
#separator = ""

[icons]
name = "awesome"
[icons.overrides]
backlight_empty = "  "
backlight_partial1 = "  "
backlight_partial2 = "  "
backlight_partial3 = "  "
backlight_full = "  "
pomodoro = "  "
volume_full = "  "
volume_half = "  "
volume_empty = "  "
volume_muted = "  "
mail = "  "
time = "  "

[[block]]
block = "load"
format = "{1m} {5m}"

[[block]]
block = "pacman"
interval = 300
format = "{pacman}+{aur}"
format_up_to_date = "0"
critical_updates_regex = "(linux |linux-lts|linux-zen)"
aur_command = "yay -Qua"

[[block]]
block = "net"
device = "{{ .interface }}"
ssid = true

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{Mug}GiB/{MTg}GiB ({Mup}%)"

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "sound"

#[[block]]
#block = "maildir"
#interval = 60
#inboxes = ["/home/moritz/.local/share/mail/mailserver/INBOX/"]
#threshold_warning = 1
#threshold_critical = 10
#display_type = "new"

{{- if eq .chezmoi.hostname "Arschlinux" }}
[[block]]
block = "backlight"

[[block]]
block = "battery"
driver = "upower"
{{- end }}

[[block]]
block = "pomodoro"
length = 25
break_length = 5
message = "Zeit für eine Pause!"
break_message = "Zurück an die Arbeit!"

[[block]]
block = "time"
format = "%d.%m.%Y %H:%M:%S"
interval = 1

